<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordVaultAppMVC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="OxfordAppId" value="ba723278" />
		<add key="OxfordAppKey" value="149471e79c76ed37d4754eff42bfab2f" />
	</appSettings>
	<connectionStrings>
		<add name="WordVaultDb" connectionString="Data Source=MRNGUYEN\SQLEXPRESS;Initial Catalog=WordVaultDb;User ID=sa;Password=12345678;Integrated Security=True" providerName="System.Data.SqlClient="/>
	</connectionStrings>
 <userSettings>
  <WordVaultAppMVC.Properties.Settings>
   <setting name="DefaultReviewWordCount" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="DefaultQuizQuestionCount" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="AutoPlayAudio" serializeAs="String">
    <value>False</value>
   </setting>
  </WordVaultAppMVC.Properties.Settings>
 </userSettings>
</configuration>